$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;

$large-resolution: 1080px;
$medium-resolution: 800px;
$small-resolution: 610px;

$container-width: 1440px;

$header-height: 88px;
$header-padding: 0 138px;
$header-padding-medium: 0 15px;
$header-bg: white;
$header-contacts-color: black;
$header-contacts-opacity: 0.65;
$header-phone-margin: 48px;

$footer-height: 321px;
$footer-padding: 80px 20px;
$footer-bg: #092433;
$footer-info-width: 324px;
$footer-copyright-color: white;
$footer-copyright-opacity: 0.8;
$footer-nav-color: white;

$cards-container-width: 925px;
$cards-filter-bg: white;
$cards-filter-height: 72px;

